agno==1.4.5
aiohttp==3.11.12
beautifulsoup4==4.13.3
fastapi==0.115.8
httpx==0.28.1
markdown==3.7
#openai==1.62.0
pydantic==2.10.6
pydantic-settings==2.7.1
python-dotenv==1.0.1
python-multipart==0.0.20
qdrant-client==1.14.2
requests==2.32.3
uvicorn==0.27.1
